
@{
    Layout = null;
}



<link href="~/NiceAdmin/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/NiceAdmin/css/style.css" rel="stylesheet" />
<link href="~/eshop/css/main.css" rel="stylesheet" />

    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh; margin-top: -150px">
        <div class="container" style="max-width: 500px;">
            @if (!string.IsNullOrEmpty(ViewBag.uyarı))
            {
                <div class="alert alert-success text-center" style="color:darkgreen"><strong>@ViewBag.uyarı</strong></div>
            }

            @using (Html.BeginForm("PasswordReset", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group text-center">
                    <input type="email" name="eposta" id="eposta" placeholder="E-mail adresinizi giriniz" class="form-control" />
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Şifreyi Sıfırla" class="btn btn-success w-100" style="background-color:darkred; color:white; margin-top: 10px" />
                </div>
                <div class="form-group mt-3">
                    <button type="button" class="btn btn-primary w-100" style="background-color:darkred; color:white;" onclick="window.location.href='@Url.Action("Login", "Account")'">Giriş Sayfasına Git</button>
                </div>
            }
        </div>
    </div>

    




@*<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh; margin-top: -150px">
        <div class="container" style="max-width: 500px;">
            @if (!string.IsNullOrEmpty(ViewBag.uyarı))
            {
                <div class="alert alert-success text-center" style="color:darkgreen"><strong>@ViewBag.uyarı</strong></div>
            }

            @using (Html.BeginForm("PasswordReset", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group text-center">
                    <input type="email" name="eposta" id="eposta" placeholder="E-mail adresinizi giriniz" class="form-control" />
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Şifreyi Sıfırla" class="btn btn-success w-100" style="background-color:darkred; color:white; margin-top: 10px" />
                </div>
                <div class="form-group mt-3">
                    <button type="button" class="btn btn-primary w-100" style="background-color:darkred; color:white;" onclick="window.location.href='@Url.Action("Login", "Account")'">Giriş Sayfasına Git</button>
                </div>
            }
        </div>
    </div>*@
